<div class="row marketing" ng-module="yoApp" ng-controller="MainCtrl">
  <H2>Récup des personnes </H2>
  <tr>
    <td> Liste utilisateurs:
      <select >
        <option ng-repeat=" person in persons|filter:name |filter: firstname "> {{person.name}} {{person.firstname}}</option>
      </select>
      <h1>Ajout d'une personne </h1>
      <form ng-submit="addPerson()">
        <div class="form-group">
          <label for="firstname">Prénom</label>
          <input type="text" class="form-control" id="firstname" ng-model="firstname">
          <label for="name">Nom</label>
          <input type="text" class="form-control" id="name" ng-model="name">
          <label for="mail">Mail</label>
          <input type="text" class="form-control" id="mail" ng-model="mail">
        </div>
        <button type="submit" class="btn btn-default">Add Person</button>
      </form>
  </tr>
  </table>

</div>